head
  meta(name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no")
  meta(name="google-site-verification" content="5fDFgT52L7_CS-jebxUE0V_Eb28ZdHr11GOqfiqZTdQ")
  link(rel="icon" href="/favicon.png" type="image/png")
  link(href='//fonts.googleapis.com/css?family=Lato:300,400,700,900|Playfair+Display:700,900,700italic,900italic' rel='stylesheet' type='text/css')
