/*------------------------------------*\
    #ribbon
\*------------------------------------*/

@import "../../../stylesheets/init";

.ribbon {
  .test & {
    background-color: $color-yellow;
  }
  @extend %gray4;
  @include linear-gradient(black, white);
  position: relative;
  z-index: 1;
  text-align: center;

  .wrapper {
    height: 100%;
    padding: 40px 200px;
  }

  p {
    margin: 20px 0;
  }

}
