template(name="ribbon")
  div(class="ribbon {{class}}" data-midnight="alt-color")
    .wrapper
      if header
        h2.slide-up {{header}}
      if content
        p.slide-up {{content}}
      if btn_text
        +button href=btn_href text=btn_text color=btn_color
    
