/*------------------------------------*\
    #logo
\*------------------------------------*/

@import "../../../stylesheets/init";

.logo {
  width: 320px;
  height: 320px;
  position: relative;
  display: block;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;


  // polygon {
  //   @include transform(scale(1)); 
  //   @include transition(0.2s all ease);

  //   &:hover {
  //     @include transform( translateX(-50%) translateY(-50%) scale(1.2));
  //   }
  // }
}


.logo--animation {
  polygon {
    opacity: 0;
  }

  > polygon {
    .no-cssanimations &,
    .no-js & {
      transform: scale(1);
      opacity: 1;
    }
  }
}