template(name="footer")
  section.footer(data-midnight="default")
    .wrapper
      ul
        li 
          p Webonaut
          //- .footer__header 
            
        li
          .footer__content.footer__content--bg
            p.
              Made with love in Meteor from Aarhus, Denmark. 
        li
          .footer__content
            p.slide-up.
              Follow me on <a href="https://twitter.com/RasmusHjulskov">Twitter</a>, <a href="https://instagram.com/rasmushjulskov/">Instagram</a> or <a href="https://dk.linkedin.com/in/rasmushjulskov">Linkedin</a>
