template(name="footer")
  .footer
    .wrapper
      ul
        li 
          .footer__header 
            div Webo
            div naut
        li 
          p.
            Made with love in Meteor from Aarhus, Denmark. 
        li 
          p.
            Follow me on <a href="http://example.com/">Twitter</a>, <a href="http://example.com/">Instagram</a> or <a href="http://example.com/">Facebook</a>
