template(name="footer")
  section.footer(data-midnight="default")
    .wrapper
      ul
        li 
          p Webonaut
          //- .footer__header 
            
        li
          .footer__content.footer__content--bg
            p.
              Made with love in Meteor from Aarhus, Denmark. 
        li
          .footer__content
            p.slide-up.
              Follow me on <a href="http://example.com/">Twitter</a>, <a href="http://example.com/">Instagram</a> and <a href="http://example.com/">Facebook</a>
