template(name="medium")
  .image-element.medium
    .img-wrapper  
      i.fa.fa-medium
      a(href=link_href)
        img(src=image)
    h3
      a(href=link_href) #{text}
      //i.time-stamp {{fromNow published_date}}
