<template name="codepen">
    <div class="codepen grid-element">
        <!-- <iframe height='268' scrolling='no' src='//codepen.io/Rhjulskov/embed/vOMoaG/?height=268&theme-id=13167&default-tab=result' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/Rhjulskov/pen/vOMoaG/'>vOMoaG</a> by Rasmus Hjulskov (<a href='http://codepen.io/Rhjulskov'>@Rhjulskov</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe> -->
      <iframe scrolling='no' src='{{src}}?height=1000&theme-id=13167&default-tab=result' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/Rhjulskov/pen/ravzGw/'>SVG Low PolyLion: Animated Polygons</a> by Rasmus Hjulskov (<a href='http://codepen.io/Rhjulskov'>@Rhjulskov</a>) on <a href='http://codepen.io'>CodePen</a>.
      </iframe>
    </div>
</template>
