template(name="grid")
  h2 My life
  section.grid(data-midnight="alt-color")
    each tweets
      +twitter
      +instagram

    //- +twitter
    //- +instagram
    //- +twitter
    //- +instagram
    //- +instagram
    //- +twitter
    //- +instagram
    //- +instagram position="right"
    //- +twitter
    //- +twitter
    //- +twitter
    //- +instagram position="right"
    //- +instagram
    
    //- each codepens
    //-   +codepen src=src
    //-   