//------------------------------------//
//  #grid
//------------------------------------//

@import ../../../stylesheets/init

.grid 
  display: flex
  flex-wrap: wrap
  align-content: stretch
  overflow-x: hidden
  overflow-y: visible
  padding: 60px 0

  .grid__header 
    width: 100%
    margin-bottom: 40px

    h2,
    h3 
      display: table
      margin: 0 auto

    h2
      font-size: 50px