template(name="grid")
  section.grid(data-midnight="alt-color-small")#context-example
    .grid__header
      if header
        h2.slide-up {{header}}
      if subheader
        h3.slide-up {{subheader}}

    each socialFeeds
      if image
        +instagram
      else if grid__end
        +gridEnd
      else if $eq type "codepen"
        +codepen
      else if $eq type "twitter"
        +twitter
      else if $eq type "medium"
        +medium

    //- each codepens
    //-   +codepen src=src
    //-
