template(name="grid")
  section.grid(data-midnight="alt-color-small")#context-example
    .grid__header
      h2 Let's be social
      h3 #webonaut on Twitter and Instagram
    //- each tweets
    //-   +twitter

    //- each insta
    //-   +instagram

    each socialFeeds
      if image
        +instagram
      else if grid__end
        +gridEnd
      else
        +twitter


    //- +twitter
    //- +instagram
    //- +twitter
    //- +instagram
    //- +instagram
    //- +twitter
    //- +instagram
    //- +instagram position="right"
    //- +twitter
    //- +twitter
    //- +twitter
    //- +instagram position="right"
    //- +instagram
    
    //- each codepens
    //-   +codepen src=src
    //-   