///*------------------------------------*\
  //  #grid
//\*------------------------------------*/

@import ../../../stylesheets/init

.grid 
  +display(flex)
  +flex-wrap(wrap)
  +align-content(stretch)
  overflow-x: hidden
  overflow-y: visible
  padding: 40px 0
  background: #F8F8F8