template(name="grid")
  section.grid(data-midnight="alt-color-small")#context-example
    .grid__header
      h2.slide-up Let's be social
      h3.slide-up #webonaut on Twitter and Instagram

    each socialFeeds
      if image
        +instagram
      else if grid__end
        +gridEnd
      else
        +twitter
    
    //- each codepens
    //-   +codepen src=src
    //-   