template(name="grid")
  section.grid(data-midnight="alt-color")
  h2 My life

  each tweets
    +twitter

  +instagram
  +instagram
  +instagram
  +instagram
  +instagram
  +instagram position="right"
  +instagram
  
  each codepens
    +codepen src=src
    