@import ../../.meteor/local/bower/sass-mq/mq

@import variables

%vertical-align 
  position: relative
  top: 50%
  transform: translateY(-50%)

%h1 
  color: $color-secondary
  font-weight: 800
  text-transform: uppercase
  font-family: jaapokki-subtract