// Neat ——————---------------------------------------------------- //
// Change the grid settings
$column: 90px;
$gutter: 0px;
$grid-columns: 12;
$max-width: 1200px;

// Toggle to false to hide grid.
$visual-grid: false;

// Breakpoints ---------------------------------------------------- //
$mq-breakpoints: (
  phone:       240px,
  phablet:     550px,
  tablet:      750px,
  desktop:     980px,
  widescreen: 1200px
);

$mq-static-breakpoint: desktop;

$mq-show-breakpoints: phone, phablet, tablet, desktop, widescreen;

// Transitions ---------------------------------------------------- //

$a-property: all;
$a-time: 0.4s;
$a-easing: ease-in-out;
$a-delay:    false;

// Typography ----------------------------------------------------- //

$base-font-family: 'Lato', sans-serif;
$base-font-size:  16px;
$base-line-height: 1.8em;

$alt-font-family: 'Playfair Display', serif;


// Widths --------------------------------------------------------- //

$width-container-padding: 15px;
$width-container-inner: 1020px;
$width-container: $width-container-inner + 2 * $width-container-padding;
$width-hero: 1500px;

// Custom --------------------------------------------------------- //
$header-height: 80px;

$padding-size: 10px;
$border-size: 20px;



$blue: #5A6BA0;
$blue-light: tint($blue, 10%);
$blue-dark: #2F3549; //shade($blue, 10%);

$red: #E64675;
$red-dark: shade($red, 10%);


// demo
$yellow: #FFF05E;


// Prototype --------------------------------------------------------- //

$gray-10: #000000; //rgba(0,0,0,1)
$gray-9: #191919; //rgba(0,0,0,.9)
$gray-8: #333333; //rgba(0,0,0,.8)
$gray-7: #4c4c4c; //rgba(0,0,0,.7)
$gray-6: #666666; //rgba(0,0,0,.6)
$gray-5: #7f7f7f; //rgba(0,0,0,.5)
$gray-4: #999999; //rgba(0,0,0,.4)
$gray-3: #b2b2b2; //rgba(0,0,0,.3)
$gray-2: #cccccc; //rgba(0,0,0,.2)
$gray-1: #e5e5e5; //rgba(0,0,0,.1)

$color-primary: $blue;
$color-secondary: $red;



%gray10 {
  background-color: $gray-10;
  color: white;
}

%gray9 {
  background-color: $gray-9;
  color: white;
}


%gray8 {
  background-color: $gray-8;
  color: white;
}


%gray7 {
  background-color: $gray-7;
  color: white;
}

%gray6 {
  background-color: $gray-6;
  color: white;
}


%gray5 {
  background-color: $gray-5;
}


%gray4 {
  background-color: $gray-4;
}


%gray3 {
  background-color: $gray-3;
}

%gray2 {
  background-color: $gray-2;
}

%gray1 {
  background-color: $gray-1;
}
