// ------------------------------------ //
//  #typography
// ------------------------------------ //

@import init

+font-face("jaapokki-subtract", "/jaapokki-subtract/jaapokkisubtract-regular")
+font-face("jaapokki-regular", "/jaapokki-regular/jaapokki-regular")
+font-face("jaapokki-enhance", "jaapokki-enhance/jaapokkienchance-regular")


h1 
  color: $color-secondary
  font-weight: 800
  text-transform: uppercase
  font-family: jaapokki-subtract


h2 
  position: relative
  color: $color-secondary
  font-weight: 800
  text-transform: uppercase
  font-family: jaapokki-subtract

  // &:after {
  //   content: "";
  //   position: absolute;
  //   bottom: -13px;
  //   left: 0;
  //   width: 30px;
  //   height: 3px;
  //   background: $color-red;

  // }


h3 
  font-family: $alt-font-family
  font-style: italic
  color: black

p 
  color: $gray-7
