<template name="headerSection">
  <div class="header-section">
    <div class="header-section__background">
      <div class="header-section__text">
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum iste nisi fuga, dolorum ratione itaque.</p>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="thumbnail">
      <img src="http://placehold.it/300x400" >
      <h3>Lorem ipsum dolor sit amet, consectetur adipis</h3>
    </div>
  </div>

  <div class="content">
    <div class="thumbnail">
      <img src="http://placehold.it/300x400" >
      <h3>Lorem ipsum dolor sit amet, consectetur adipis</h3>
    </div>
  </div>

  <div class="content">
    <div class="thumbnail">
      <img src="http://placehold.it/300x400" >
      <h3>Lorem ipsum dolor sit amet, consectetur adipis</h3>
    </div>
  </div>

  <div class="content">
    <div class="thumbnail">
      <img src="http://placehold.it/300x400" >
      <h3>Lorem ipsum dolor sit amet, consectetur adipis</h3>
    </div>
  </div>
  <div class="content content--right">
    <div class="thumbnail">
      <img src="http://placehold.it/300x400" >
      <h3>Lorem ipsum dolor sit amet, consectetur adipis</h3>
    </div>
  </div>
</template>
