/*------------------------------------*\
    #headerSection
\*------------------------------------*/

@import "../../../stylesheets/init";

.header-section {
   @include clearfix;
  
  .header-section__background {
    background: $color-primary;
    height: 350px;
    margin: 20px 0;

    @include mq($until: tablet) {
      padding: 0 $padding-size;
      @include span-columns(11);
      float: right;
    }
    
    @include mq($from: tablet) {
      @include span-columns(9);
      float: right;
    } 
    
  }

  .header-section__text {
    @extend %vertical-align;
    width: 100%;
    max-width: 400px;

    @include mq($until: tablet) {
      @include transform(translateY(-50%));
    }

    @include mq($from: tablet) {
      @include transform(translateX(-50%) translateY(-50%));
    }    
  }
}

.content {
  @include clearfix;

  @include mq($until: tablet) {
    @include span-columns(12);  
    &:nth-child(2n){
      img {
        float: right;
      }
    }
  } 
  
  @include mq($from: tablet) {
    @include span-columns(6);

    &:nth-child(3n){
      margin: 0 25%;
    }  
  } 
  

  .thumbnail {
    @include clearfix;
    position: relative;
    img {
      position: relative;
      display: block;
      top: 0;
      left: 0;
      width: 50%;      

    }
    h3 {
      position: absolute;
      width: 40%;
      top:45%;
      left: 50%;
      @include transform(translateX(-50%) translateY(-50%))

    }
  }

  

  &--right {
    @extend %gray7; 
    .thumbnail {

      img {
        float: right;
      }

      h3 {
        left: 25%;
        top: 50%;
      }
    }
  }
}
