template(name="headerSection")
  .header-section
    .header-section__background
      .header-section__text
        h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit
        h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum iste nisi fuga, dolorum ratione itaque.
