template(name="header")
  .header
    .midnightHeader.default
      +logoBlue

    .midnightHeader.alt-color
      +logoRed

    .midnightHeader.alt-color-small
      +logoRedSmall

    .midnightHeader.small
      +logoBlueSmall
    
