/*------------------------------------*\
    #header
\*------------------------------------*/

@import "../../../stylesheets/init";

.header {
  @extend %gray7;
  position: fixed;
  z-index: 100;
  top: 0; 
  left: 0;
  width: 100%;
  height: $header-height;
  .header__logo {
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    float: left;
    font-family: "helvetica";
    color: currentColor;
    line-height: $header-height;
  }

  .header__menu {
    float: right;
  
    li {
      float:left;
      list-style: none;
      font-size: 30px;
      color: currentColor;
      margin-left: 20px;
      line-height: $header-height;
    }
  }
}
