<template name="textarea">
  <div class="wrapper textarea">
    {{#if headline}}
      <h2 class="headline">{{headline}}</h2>
    {{/if}}
  
    <h3 class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus explicabo delectus eaque aperiam perspiciatis optio dicta consequatur posestiae distinctio.</h3>

    <p>
    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam neque repellendus tempore obcaecati distinctio incidunt ratione alias iure aut. Molestias nihil, alias neque sint, suscipit consequuntur eveniet quos dolores esse!</span><span>Blanditiis commodi iusto, rerum harum fugit ex, cupiditate cumque iure, deleniti hic vitae nulla nisi maxime doloribus delectus molestias eius perspiciatis totam? Officia rerum corporis velit,   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit natus, quia obcaecati, provident numquam totam inventore veritatis nesciunt dicta vero maiores molestias autem voluptates <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis soluta reiciendis dicta debitis beatae veritatis. At quaerat possimus praesentium dolorum, nihil nesciunt libero aliquid, aut voluptatum necessitatibus pariatur id repudiandae!</span>
    <span>Accusantium unde distinctio, temporibus animi assumenda velit. Praesentium, voluptatibus. Minima laborum totam explicabo accusantium esse aspernatur at numquam accusamus, ut similique, porro tenetur repudiandae saepe commodi pariatur inventore quasi? Nostrum.</span>
    <span>Maxime fuga ipsam impedit assumenda laboriosam alias. Explicabo quisquam itaque dolorum, ducimus iusto. Rem nam placeat quis aut aperiam possimus quibusdam impedit assumenda voluptatem adipisci optio, laborum libero, 
    quaerat laudantium.</span>sequi vel vitae amet repudiandae. Amet!, assumenda commodi reprehenderit!</span>
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa sit eligendi sunt? Quisquam iure quam commodi laudantium quis inventore voluptatem incidunt sunt, mollitia eligendi dolore, accusantium. Repellat excepturi nostrum ea.
    
    +quote
    </p>
    {{#markdown}}
      <!DOCTYPE html>
      <html lang="en">
      <head>
        <meta charset="UTF-8">
        <title>Document</title>
      </head>
      <body>
        
      </body>
    </html>
    {{/markdown}}
  </div>
</template>
