//------------------------------------//
//  #twitter
//------------------------------------//

@import ../../../stylesheets/init

.tweet 
  position: relative
  color: black
  color: white
  flex-grow: 1
  transition: $a-time all $a-easing
  transform: translate3d(0,10%,0)
  opacity: 0
  padding: 3%
  line-height: 1.6em

  &.visible
    transform: translate3d(0,0,0)
    opacity: 1  

  +mq($until: desktop) 
    width: 50%
    margin: 4% 0

  +mq($from: desktop) 
    width: 25%
    
  +mq($until: tablet)
    font-size: 14px

  +mq($from: tablet)
    font-size: 20px

  a
    text-decoration: none

  &:before 
    @extend %h1
    transition: $a-time all $a-easing
    content: "“"
    position: absolute
    top: 10px
    left: 20px
    text-transform: lowercase
    color: rgba($red, .2)
    font-size: 170px
    line-height: 200px

  .time-stamp
    position: absolute
    top: 100%
    left: 0
    right: 0
    font-size: 14px
    font-weight: normal
    transition: $a-time all $a-easing
    opacity: 0
    margin-top: -30px
    color: $red
    text-align: center

  p 
    position: relative
    transition: $a-time all $a-easing
    color: $blue
    font-weight: 700
    
    z-index: 1

  &:hover 
    
    &:before 
      top: -10px
      left: 0px
      color: rgba($red, .5)

    p
      transform: scale(1.1)

    .time-stamp
      opacity: 1
      margin-top: 0px

    

 