/*------------------------------------*\
    #instagram
\*------------------------------------*/

@import "../../../stylesheets/init";

.instagram {
  @include clearfix;
  position: relative;
  
  .image {
    position: relative;
    height: 400px;
    display: block;
    top: 0;
    left: 0;
    width: 50%; 
    @include transition(.2s all ease-in-out);   
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0);  
    background-image: url("https://igcdn-photos-a-a.akamaihd.net/hphotos-ak-xap1/t51.2885-15/10723959_958466214177352_395250663_n.jpg");
    background-size: cover;
    background-color: $color-blue;
    background-blend-mode: luminosity; // lighten, luminosity

  }
  .img-wrapper {
    background: $color-blue;
    width: 50%;
  }
  
  img {
    width: 100%;
    opacity: 0.5;
    @include filter(grayscale(100%));
    @include transition(.2s all ease-in-out);   
    display: block;
  }

  h3 {
    color: $color-red;
    font-size: 28px;
    line-height: 1.2em;
    position: absolute;
    width: 40%;
    top:45%;
    left: 50%;
    @include transform(translateX(-50%) translateY(-50%));
    @include transition(.2s all ease-in-out);
  }

  &:hover {
    z-index: 1;
    img {
      // background-color: $color-red;
      @include transform(scale(1.1));
      @include filter(grayscale(0%));
      opacity: 1;
      box-shadow: -20px 20px 0px 0px rgba($color-blue , .5);
    }

    h3 {
      left: 75%;
      color: $color-blue;
    }
  }
}

.grid-element {
  @include clearfix;

  @include mq($until: tablet) {
    @include span-columns(12);  
    &:nth-child(2n){
      .image {
        float: right;
      }
    }
  } 
  
  @include mq($from: tablet) {
    @include span-columns(6);

    &:nth-child(3n){
      margin: 0 25%;
    }  
  } 


  &--right,
  //hack:!
  &:nth-child(5n) {
    @extend %gray7; 
  

    .img-wrapper {
      background-color: $color-red;
      margin-left: 50%;
    }

    h3 {
      left: 25%;
      top: 50%;
    }
  }
}
