///*------------------------------------*\
  //  #instagram
//\*------------------------------------*/

@import ../../../stylesheets/init

.instagram 
  +clearfix
  position: relative
  
  .image 
    position: relative
    height: 400px
    display: block
    top: 0
    left: 0
    width: 50%
    +transition($a-time all $a-easing)
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0)  
    background-image: url("https://igcdn-photos-a-a.akamaihd.net/hphotos-ak-xap1/t51.2885-15/10723959_958466214177352_395250663_n.jpg")
    background-size: cover
    background-color: $color-blue
    background-blend-mode: luminosity

  .img-wrapper
    background: $color-blue
    width: 50%
  
  img
    width: 100%
    opacity: 0.5
    +filter(grayscale(100%))
    +transition($a-time all $a-easing)
    display: block

  h3
    color: $color-red
    font-size: 28px
    line-height: 1.2em
    position: absolute
    width: 40%
    top:45%
    left: 50%
    +transform(translateX(-50%) translateY(-50%))
    +transition($a-time all $a-easing)
    border: 3px solid $color-red
    padding: 10px

  &:hover
    z-index: 1
    img
      // background-color: $color-red;
      +transform(scale(1.1))
      +filter(grayscale(0%))
      opacity: 1
      box-shadow: -20px 20px 0px 0px rgba($color-blue , .5)

    h3
      left: 75%
      color: $color-blue
      border-color: $color-blue

.instagram
  +clearfix
  +mq($until: tablet)
    +span-columns(12)  
    &:nth-child(2n)
      .image 
        float: right
  
  +mq($from: tablet)
    +span-columns(6)

    &:nth-child(3n)
      margin: 0 25%

  &--right,
  //hack:!
  &:nth-child(5n)
    @extend %gray7
  
    .img-wrapper 
      background-color: $color-red
      margin-left: 50%
    
    h3 
      left: 25%
      top: 50%
  
  &:nth-child(odd)
    .image 
      .img-wrapper
        margin-left: 50%