template(name="instagram")
  each instagramFeed
    .instagram.grid-element
      .img-wrapper
        img(src="/working.jpg")
      h3 {{headline}}
    
  

// {{#if position}}grid-element--right{{/if}}