template(name="instagram")
  each instagramFeed
    .instagram.grid-element
      .img-wrapper
        img(src="https://igcdn-photos-a-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/11253674_500963606718520_1367187857_n.jpg")
      h3 {{headline}}
    
  

// {{#if position}}grid-element--right{{/if}}