/*------------------------------------*\
    #instagram
\*------------------------------------*/

@import "../../../stylesheets/init";

.instagram {
  @extend %gray3;
}

.grid-element {
  @extend %gray4;
  @include span-columns(6);
  @include omega(2n);
  height: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
}
