///*------------------------------------*\
  //  #instagram
//\*------------------------------------*/

@import ../../../stylesheets/init

.instagram 
  +clearfix
  position: relative
  +transition(3s all $a-easing)
  perspective: 1000px
  +transform-style(preserve-3d) 
  

  &.visible 
    .img-wrapper
      +transform(rotateX(0deg))  

    h3
      left: 50%
      opacity: 1
  
  .image 
    position: relative
    height: 400px
    display: block
    top: 0
    left: 0
    width: 50%
    +transition($a-time all $a-easing)
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0)  
    background-image: url("https://igcdn-photos-a-a.akamaihd.net/hphotos-ak-xap1/t51.2885-15/10723959_958466214177352_395250663_n.jpg")
    background-size: cover
    background-color: $blue
    background-blend-mode: luminosity


  .img-wrapper
    background: $blue
    width: 50%
    height: 100%
    +backface-visibility(hidden)
    +transition($a-time all $a-easing)
    +transform(rotateX(-120deg))
    +transform-origin(center top)
    +transform-style(preserve-3d)  
  
  img
    width: 100%
    opacity: 0.5
    +filter(grayscale(100%))
    +transition($a-time all $a-easing)
    display: block
      // +transition(5s all $a-easing)
      // +transform(rotateX(-90deg))
      // +transform-origin(center top)

  h3
    color: $red
    line-height: 1.2em
    position: absolute
    width: 40%
    top:45%
    left: 20%
    opacity: 0
    +transform(translateX(-50%) translateY(-50%))
    +transition($a-time all $a-easing)
    
    padding: 10px

    +mq($until: tablet)
      font-size: 16px
      border: 2px solid $red

    +mq($from: tablet, $until: desktop)
      font-size: 22px
      border: 3px solid $red

    +mq($from: desktop)
      font-size: 28px

.instagram
  +mq($until: tablet)
    +span-columns(12)  
    &:nth-child(2n)
      .image 
        float: right
  
  +mq($from: tablet)
    +span-columns(6)

    &:nth-child(3n)
      margin: 0 25%

  // &--right,
  // //hack:!
  // &:nth-child(5n)
  //   @extend %gray7
  
  //   .img-wrapper 
  //     background-color: $color-red
  //     margin-left: 50%
    
  //   h3 
  //     left: 25%
  //     top: 50%

  &:hover
    z-index: 1
    img
      // background-color: $color-red;
      +transform(scale(1.1))
      +filter(grayscale(0%))
      opacity: 1
      box-shadow: -20px 20px 0px 0px rgba($blue , .5)

    h3
      left: 75%
      color: $blue
      border-color: $blue
  
  +mq($until: tablet)
    &:nth-child(even)
      .img-wrapper
        margin-left: 50%

      &:hover

        h3
          left: 25%


