<template name="hero">
  <section class="hero" >

    <ul class="planets" id="scene">
      <li class="layer" data-depth="0.1">
        <div class="vertical-align">
          {{> logoBlue animation="logo--animation" }}
          <h1 class="hero-header">Webonaut</h1>
          <h3 class="hero-subheader">My self-appointed title covering the curiosity for all that is web. Launch the shuttle!</h3>
        </div>
      </li>
      <li class="layer" data-depth="0.3">
        <div class="planet-1">
          <div></div>
        </div>
      </li>
      <li class="layer" data-depth="0.5">
        <div class="planet-2 planet--animation"></div>
        <div class="planet-3 planet--animation"></div>
      </li>
      <li class="layer" data-depth="0.7">
        <div class="planet-4 planet--animation"></div>
        <div class="planet-5 planet--animation"></div>
        
      </li>
      <li class="layer" data-depth="0.9">
        <div class="planet-6 planet--animation"></div>
        <div class="planet-7 planet--animation"></div>
        
      </li>

    </ul>
  </section>
</template>
