template(name="hero")
  section.hero(data-midnight="small")
    ul.planets(id="scene")
      li.layer(data-depth="0.1")
        .vertical-align
          +logoBlue animation="logo--animation"
          h1.hero-header Webonaut
          h3.hero-subheader My self-appointed title covering the curiosity for all that is web. Launch the shuttle!


      li.layer(data-depth="0.3")
        .planet-1
          .dummy-div

      li.layer(data-depth="0.5")
        .planet-2.planet--animation
        .planet-3.planet--animation
      
      li.layer(data-depth="0.7")
        .planet-4.planet--animation
        .planet-5.planet--animation
        
      li.layer(data-depth="0.9")
        .planet-6.planet--animation
        .planet-7.planet--animation
        
