<template name="imageSection">
    <div class="imageSection">
      <div class="imageSection__text">
        <div class="imageSection__wrapper">
          <h1>header</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deleniti mollitia repudiandae saepe modi inventore amet max</p>
          {{> button href="#" text=btn}}
        </div>
      </div>
      <div class="imageSection__image">
        <img src="http://placehold.it/600x600" alt="">
      </div>
    </div>
</template>
