/*------------------------------------*\
    #button
\*------------------------------------*/

@import "../../../stylesheets/init";

$border-color:  $color-red;//$color-gray-8;
$text-color: white; //$color-gray-1;

.button {
  margin: 10px 0;
  padding: 14px 30px;
  border: 2px solid $border-color;
  color: $text-color;
  display: table;
  @include transition(.3s all ease); 

  &:before {
    @include transition(.3s all ease); 
    content: "";
    position: absolute;
    z-index: -1;
    top: -$border-size/2; 
    left: -$border-size/2;
    width: 100%;
    height: 100%;
    background: shade( $border-color, 20);

  }
  &:hover {
    
    &:before {
      top: 0px;
      left: 0px;
      background: $border-color;
    }
  }

}
